body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


  
  .Mainheading{
    color: white;
  }
  .text-heading
  {
      padding-top: 18rem;
      color: #FFF;
  }
  .page-footer{
    background: #008b8b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  color: #FFF;
  }
  .pt-4{
    padding-top: 0.5rem!important;
  }
  
