<!DOCTYPE html>
<html>
  <head>
    <title>FITNESS APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/auth/google" id='auth-google'>GOOGLE AUTHENTICATION</a>
  </body>
</html>
