
<app-header></app-header>



<body>
  <section>
  <div class="container">
      <div class="row">
          <div class="col-md-3 "></div>
          <div class="col-md-3 text-center">
              <div class="card">
               
               <img src="../../assets/images/portfolio_item_02.png" alt="">
             <div class="panel img-top">
                <p class="tex">hello!! blockchain </p>
      
               </div>
               </div>
          </div>
          <div class="col-md-3 text-center">
              <div class="card">
               <img src="./../../assets/images/portfolio_item_08.png" alt="">
             <div class="img-top">
               <p class="tex">hello!! blockchain </p>
          </div></div>
      </div>
          <div class="col-md-3 "></div>
      </div>
      <div class="row">
          <div class="col-md-3 "></div>
          <div class="col-md-3 text-center">
              <div class="card">
               <img src="../../assets/images/portfolio_item_02.png" alt="">
             <div class="panel img-top">
                <p class="tex">hello!! blockchain </p>
      
               </div>
               </div>
          </div>
          <div class="col-md-3 text-center">
              <div class="card">
                <img src="./../../assets/images/portfolio_item_08.png" alt="">
             <div class="img-top">
               <p class="tex">hello!! blockchain </p>
          </div></div>
      </div>
          <div class="col-md-3 "></div>
      </div>
  </div>


     </section>  


</body>







<app-footer></app-footer>
